.logo-container {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  z-index: 2;
  padding: 13px;
  padding-bottom: 0;
}
.logo-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 17px;
  margin-left: 60px;
}
.nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 0;
}
.nav-ul li {
  margin-right: 15px;
  /* margin-left: 10px; */
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.sub-nav-container {
  display: flex;
  align-items: center;
  padding-right: 3px;
}
.sub-nav {
  display: flex;
  align-items: center;
  list-style: none;
}
.sub-nav li {
  margin-right: 15px;
}
.menu-icon {
  margin-right: 10px;
  display: none;
  font-size: 20px;
  margin-bottom: 12px;
}
.whatsapp-icon {
  font-size: 25px;
  align-items: center;
  cursor: pointer;
}
.big-button {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  color: #000;
  cursor: pointer;
  padding-top: 0;
  padding: 4px;
  width: 80px;
  font-size: 15px;
  margin-top: 0;
  border-radius: 20px;
}
.big-screen-help {
  display: none;
}
.help-small-screen {
  display: block;
}
@media (min-width: 478px) and (max-width: 778px) {
  .logo-nav {
    padding-left: 10px;
  }
  .logo-container {
    position: fixed;
    width: 100%;
    padding-right: 0;
  }
  .logo {
    margin-left: 0px;
    font-size: 20px;
  }
  .button {
    padding: 0px;
  }
  .nav-ul {
    display: none;
  }
  .small-nav {
    display: block;
    padding-top: 25px;
    padding-bottom: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    top: 65px;
    left: -16px;
    background-color: black;
  }
  .small-nav li {
    padding-top: 7px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .menu-icon {
    margin-left: 10px;
    display: block;
  }
  .big-screen-help {
    display: block;
  }
  .help-small-screen {
    display: none;
  }
}
@media (max-width: 600px) {
  .logo-nav {
    padding-left: 5px;
  }
  .logo-container {
    position: fixed;
    width: 100%;
    padding-right: 0;
  }

  .logo {
    margin-left: 0px;
    font-size: 20px;
  }
  .big-button {
    padding: 7px 0px;
  }
  .nav-ul {
    display: none;
  }
  .small-nav {
    display: block;
    padding-top: 25px;
    padding-bottom: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    top: 65px;
    left: -16px;
    background-color: black;
  }
  .small-nav li {
    padding-top: 7px;
    padding-left: 0px;
    padding-bottom: 10px;
  }
  .menu-icon {
    margin-left: 7px;
    display: block;
  }
  .big-screen-help {
    display: block;
  }
  .help-small-screen {
    display: none;
  }
}
